<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b">
	<li data-role="list-divider"><a href="/admins/photos/new" id="add-pho">Ajouter une photo</a></li>
</ul>

<%= render 'form' %>


