<%= image_tag  @photo.image_url().to_s %>
<ul data-role="listview" data-theme="c" data-inset="true">
	<li><%= link_to "<i class='icon-th-list'></i>&nbsp;#{t('main.destroy')}".html_safe, admin_photo_path(@photo), method: :delete, data: { confirm: t('main.sure') }, "data-ajax" => "false" %></li>
</ul>

