<p>Que les choses soient claires : Artisans du web est à votre disposition et à votre écoute pour réaliser votre site web classique, votre blog professionnel ou votre newsletter, et de manière générale pour mettre en place avec vous une stratégie web adaptée à vos besoins.
On ne revient pas là dessus.
Mais dans un contexte où face à l'arrivée des smartphones et tablettes de dernière génération, vos clients et prospects délaissent de plus en plus leurs ordinateurs traditionnels, mais surtout consomment internet "autrement", il nous a semblé primordial de vous proposer des services adaptés à cette évolution...
Attention : l'internaute est devenu mobinaute :
bienvenue dans l'internet de la mobilité et des sites web mobiles.
</p>