<ul data-role="listview" data-divider-theme="e" data-inset="true">
	<li>
		<a href=tel:0661181329>
			<%= image_tag "gravatar-eric-lebourles.jpg", :alt => "Eric Lebourlès - Chef de projet mobile" %>
			<h1>Appeler Eric Lebourles</h1>
		</a>
	</li>
	<li>
	   <a href=tel:0652333212>
			<%= image_tag "fabien-tanguy.jpg", :alt => "Eric Lebourlès - Chef de projet mobile" %>
			<h1>Appeler Fabien Tanguy</h1>
	   </a>	
	</li>
	<li>
		<a href=mailto:contact@adw.coop>
			<h1>Nous joindre par email</h1> 
		</a>
	</li>
</ul>		