<ul data-role="listview" data-divider-theme="e" data-inset="true">
	<li>
		<a href=tel:0661181329>
			<%= image_tag "gravatar-eric-lebourles.jpg", :alt => "Eric Lebourlès - Chef de projet mobile" %>
			<h1>Eric Lebourlès</h1>
		</a>
	</li>
	<li>
	   <a href=tel:0652333212>
			<%= image_tag "gravatar-fabien-tanguy.jpg", :alt => "Fabien Tanguy - Développeur - intégrateur web mobile" %>
			<h1>Fabien Tanguy</h1>
	   </a>	
	</li>
	<li>
		<a href=sms:0661181329>
			<h1><i class='icon-comment'></i>&nbsp;&nbsp;Nous joindre par sms</h1> 
		</a>
	</li>
	<li>
		<a href=mailto:contact@adw.coop>
			<h1><i class='icon-mail'></i>&nbsp;&nbsp;Nous joindre par email</h1> 
		</a>
	</li>
</ul>		