<h2 class="title-featured"><%= @focus.title.html_safe.upcase %></h2>
<% if @focus.photo_active %>
	<%= image_tag @focus.photos[0].image_url, :alt => "focus", :class => "photo-featured" %>
<% end %>
<br>
<br>
<%= @focus.description.capitalize.gsub(/\n/, '<br/>').html_safe %>
		
