<div id="horaires">
	<h2>Horaires</h2>
	<p>Du lundi au vendredi de 7h00 à 19h00</p>
</div>
<h2>Nous trouver</h2>
<p>1 rue de verdun 94000 chevilly la-rue</p>
<!-- Responsive iFrame -->
<div class="Flexible-container">
	<iframe width="320" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=1+Rue+de+Verdun,+Chevilly-Larue&amp;aq=0&amp;oq=1+rue+de+verdun+&amp;sll=48.817626,2.482204&amp;sspn=0.008605,0.020964&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rue+de+Verdun,+94550+Chevilly-Larue,+Val-de-Marne,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.771196,2.349328&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=1+Rue+de+Verdun,+Chevilly-Larue&amp;aq=0&amp;oq=1+rue+de+verdun+&amp;sll=48.817626,2.482204&amp;sspn=0.008605,0.020964&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rue+de+Verdun,+94550+Chevilly-Larue,+Val-de-Marne,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.771196,2.349328" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
</div>

