<ul data-role="listview" data-divider-theme="" data-inset="true" data-theme="a">
	<li data-role="list-divider">
		Services
	</li>
	<% @services.each do |serv| %>
		<li>

			<% if serv.photo_active and !serv.photos.empty? %>
				<%= link_to "#{image_tag(serv.photos[0].image_url(), :alt => 'service', :class => 'photo-featured', :width => '80px', :height => '80px')}&nbsp;&nbsp;<h1>#{serv.titre}</h1>".html_safe, admin_produit_path(serv) %>
			<% else %>
				<%= link_to "<h1>#{serv.titre}</h1>".html_safe, admin_produit_path(serv) %>
			<% end %>
		</li>
	<% end %>
</ul>
