.main-content img {
  display:block;
  margin:0 auto;
  max-height:450px;
  max-width:100%;
}

#logo {
	text-align:center;
	h1 {
		text-align:center;
	}
}


/***********************/
/*  Ajouter une photo  */
/***********************/

#add-photo {
	display:block;
	width:100%;
	margin:15% auto 0% auto;
	img {
	  display:block;
	  margin:0 auto;
	  max-height:118px;
	  max-width:100%;
	}	
	small {
	  display:block;
	  text-align:center;
	  margin:0 auto;
	  max-width:100%;
	  text-decoration:underline !important;	
	  color:#999999;
	}
}

#ok-ajouter-photo {
  margin:0 auto;
  max-width:100%;
  text-align:center;
	footer {
		margin:0 auto;
		max-width:100%;
		text-align:center;
	}
}

.ui-popup > img {
  display:block;
  margin:0 auto;
  max-height:250px;
  max-width:100%;
}

