.main-content img {
  display:block;
  margin:0 auto;
  max-height:450px;
  max-width:100%;
}

#logo {
	text-align:center;
	h1 {
		text-align:center;
	}
}


/********************************/
/*  Ajouter une photo à l'album */
/********************************/

#add-photo {
	display:block;
	width:100%;
	margin:15% auto 0% auto;
	img {
	  display:block;
	  margin:0 auto;
	  max-height:118px;
	  max-width:100%;
	}	
	small {
	  display:block;
	  text-align:center;
	  margin:0 auto;
	  max-width:100%;
	  text-decoration:underline !important;	
	  color:#999999;
	}
}

#ok-ajouter-photo {
  margin:0 auto;
  max-width:100%;
  text-align:center;
	footer {
		margin:0 auto;
		max-width:100%;
		text-align:center;
	}
}

.ui-popup > img {
  display:block;
  margin:0 auto;
  max-height:250px;
  max-width:100%;
}

/******************************************/
/*  Ajouter une photo à une page, etc ... */
/******************************************/

.photos-gallery-popup img{
	position:absolute;
	z-index:1;
	height:80px;width:auto;
	margin:0;
	box-shadow:0 0 3px black;
	-webkit-transition:all .5s cubic-bezier(.6,2,.4,1);
	    -moz-transition:all .5s cubic-bezier(.6,2,.4,1);
	     -ms-transition:all .5s cubic-bezier(.6,2,.4,1);
	      -o-transition:all .5s cubic-bezier(.6,2,.4,1);
	         transition:all .5s cubic-bezier(.6,2,.4,1);
}
.photos-gallery-popup a:hover img{
-webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2)!important;
     -ms-transform: scale(1.2)!important;
      -o-transform: scale(1.2)!important;
         transform: scale(1.2)!important;
}


