<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b" >
	<li><%= link_to "<i class='icon-tag'></i>&nbsp;&nbsp;Promo&nbsp;#{promo_actived?(@promo)}".html_safe, edit_admin_promo_path(@promo), "data-ajax" => false %></li>
</ul>	
<ul data-role="listview" data-theme="c" data-inset="true"  data-divider-theme ="b" >
	<li><%= link_to "<i class='icon-star'></i>&nbsp;&nbsp;Focus&nbsp;#{focus_actived?(@focus)}".html_safe, edit_admin_focu_path(@focus), "data-ajax" => false %></li>
</ul>
<ul>
	<li><%= link_to "<i class='icon-picture'></i>&nbsp;&nbsp;Photos".html_safe, admin_photos_path  %></li>
</ul>

<ul data-role="listview" data-inset="true">
	<li data-theme="e"><%= link_to "<i class='icon-th-large'></i>&nbsp;&nbsp;Aller sur le site".html_safe, root_path %></li>	
</ul>