.page-header {
	height:60px;
	background-color:#9C6 !important;
	background:url(/assets/back-header.jpg) repeat-x;
	border:none;
}

.logo {
	background:url(/assets/logo-pomme.png) no-repeat;
	height:54px;
	width:152px;
	text-align:center;
	margin:0 auto 0 auto;
}

.main-content img {
  display:block;
  margin:0 auto;
  max-height:450px;
  max-width:100%;
} 

/* =============================================================================
   Interior Banner Styles
   ========================================================================== */

.bannerContainer { 
	width:100%; 
	background:#FFF;    
}

.banner {
	max-width: 100%; 
	display: block; 
	max-height:295px; 
	margin:0 auto;
}


/* =============================================================================
   Page Title under Banner Image
   ========================================================================== */

h2.pageTitle { 
	text-transform:uppercase; 
	color:#000000; 
	width:100%; 
	margin:0;
	padding:0;
	text-shadow: 0 1px 0 #fff; 
	font-weight:normal; 
}

h2.pageTitle span { 
	display:block; 
	padding:8px 0 5px 15px
}

	.inner-b {
	background-color:#FFFFFF;
	border-radius:5px;
	margin:25px;
	padding:10px;
	}	


#bck-content {
	background:url(/assets/3.jpg) no-repeat;
	background-position:50% 50%;
}


