.page-header {
	height:60px;
	background-color:#9C6 !important;
	background-image:none;
	border:none;
}

.logo {
	background:url(/assets/logo-pomme.png) no-repeat;
	height:54px;
	width:152px;
	text-align:center;
	margin:0 auto 0 auto;
}

.main-content img {
  display:block;
  margin:0 auto;
  max-height:295px;
  max-width:100%;
} 