
/* Artisans du web jQuery Mobile Theme */

/* Artisans du web Background */
/* .ui-content {background: url(background-mobile.jpg); background-repeat: no-repeat; background-position: center center; background-attachment: fixed;} */
/* .ui-listview {filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;} */

/* Top Header Bar and Buttons*/



.ui-bar-a {border: 0px; background: #F05323; color: #ffffff; font-weight: bold; /* text-shadow: 0 -1px 1px #000000;  background-image: -moz-linear-gradient(top, #9a0000, #6e0000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9a0000), color-stop(1, #6e0000)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9a0000', EndColorStr='#6e0000')"; */}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {font-family: Helvetica, Arial, sans-serif;}
.ui-bar-a .ui-link-inherit {color: #333;}
.ui-bar-a .ui-link {color: #820000; font-weight: bold;}

.ui-btn-up-a {border: 1px solid #600; background: #9a0000; font-weight: bold; color: #fff; cursor: pointer; text-decoration: none; background-image: -moz-linear-gradient(top, #9a0000, #6e0000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9a0000), color-stop(1, #6e0000)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9a0000', EndColorStr='#6e0000')";}
.ui-btn-up-a a.ui-link-inherit {color: #fff;}
.ui-btn-hover-a {border: 1px solid #600; background: #a00; font-weight: bold; color: #fff; text-decoration: none; text-shadow: 0 1px 1px #600; background-image: -moz-linear-gradient(top, #a00, #6e0000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a00), color-stop(1, #6e0000)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a00', EndColorStr='#6e0000')";}
.ui-btn-hover-a a.ui-link-inherit {color: #fff;}
.ui-btn-down-a {border: 1px solid #600; background: #820000; font-weight: bold; color: #fff; text-shadow: 0 1px 1px #600; background-image: -moz-linear-gradient(top, #820000, #a00); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #820000), color-stop(1, #a00)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#820000', EndColorStr='#a00')";}
.ui-btn-down-a a.ui-link-inherit {color: #fff;}
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {font-family: Helvetica, Arial, sans-serif;}

/* Secondary Header Bars */
.ui-bar-b {border: 0px; background: #ddcf99; color: #ffffff; font-weight: bold; text-shadow: 0 -1px 1px #999; background-image: -moz-linear-gradient(top, #ddcf99, #9d9573); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddcf99), color-stop(1, #9d9573)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddcf99', EndColorStr='#9d9573')";}
.ui-bar-b, .ui-bar-b input, .ui-bar-b select, .ui-bar-b textarea, .ui-bar-b button {font-family: Helvetica, Arial, sans-serif;}
.ui-bar-b .ui-link-inherit {color: #333;}
.ui-bar-b .ui-link {color: #820000; font-weight: bold;}

.ui-btn-up-b {border: 1px solid #c4bfa9; background: #f6f3e5; font-weight: bold; color: #565347; cursor: pointer; text-shadow: 0 1px 1px #ffffff; text-decoration: none; background-image: -moz-linear-gradient(top, #f6f3e5, #eeebcb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f3e5), color-stop(1, #eeebcb)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f3e5', EndColorStr='#eeebcb')";}
.ui-btn-up-b a.ui-link-inherit {color: #565347;}
.ui-btn-hover-b {border: 1px solid #c4bfa9; background: #eeebcb; font-weight: bold; color: #565347; text-decoration: none; text-shadow: 0 1px 1px #ffffff; background-image: -moz-linear-gradient(top, #eeebcb, #c4bfa9); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeebcb), color-stop(1, #c4bfa9)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeebcb', EndColorStr='#c4bfa9')";}
.ui-btn-hover-b a.ui-link-inherit {color: #565347;}
.ui-btn-down-b {border: 1px solid #c4bfa9; background: #c4bfa9; font-weight: bold; color: #565347; text-shadow: 0 1px 1px #ffffff; background-image: -moz-linear-gradient(top, #c4bfa9, #eeebcb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4bfa9), color-stop(1, #eeebcb)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c4bfa9', EndColorStr='#eeebcb')";}
.ui-btn-down-b a.ui-link-inherit {color: #565347;}
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {font-family: Helvetica, Arial, sans-serif;}

/* Content Background and Buttons */
.ui-body-c {color: #333333; text-shadow: 0 1px 0 #fff; background: #f6f3e5; background-image: -moz-linear-gradient(top,  #f6f3e5,  #ffffff); background-image: -webkit-gradient(linear, left top, left bottom,  color-stop(0, #f6f3e5),  color-stop(1, #ffffff)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f3e5', EndColorStr='#ffffff')";}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {font-family: Helvetica, Arial, sans-serif;}
.ui-body-c .ui-link-inherit {color: #565347;}
.ui-body-c .ui-link {color: #565347; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #565347;}
.ui-body-c .ui-link:hover {color: #820000; border-bottom: 1px dotted #820000;}
.ui-btn-up-c {border: 1px solid #c4bfa9; background: #f6f3e5; font-weight: bold; color: #565347; cursor: pointer; text-shadow: 0 1px 1px #ffffff; text-decoration: none; background-image: -moz-linear-gradient(top, #f6f3e5, #eeebcb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f3e5), color-stop(1, #eeebcb)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f3e5', EndColorStr='#eeebcb')";}
.ui-btn-up-c a.ui-link-inherit {color: #565347;}
.ui-btn-hover-c {border: 1px solid #c4bfa9; background: #eeebcb; font-weight: bold; color: #565347; text-decoration: none; text-shadow: 0 1px 1px #ffffff; background-image: -moz-linear-gradient(top, #eeebcb, #c4bfa9); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeebcb), color-stop(1, #c4bfa9)); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeebcb', EndColorStr='#c4bfa9')";}
.ui-btn-hover-c a.ui-link-inherit {color: #565347;}
.ui-btn-down-c {border: 1px solid #c4bfa9; background: #c4bfa9; font-weight: bold; color: #565347; text-shadow: 0 1px 1px #ffffff; background-image: -moz-linear-gradient(top, #c4bfa9, #eeebcb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c4bfa9), color-stop(1, #eeebcb)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c4bfa9', EndColorStr='#eeebcb')";}
.ui-btn-down-c a.ui-link-inherit {color: #565347;}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {font-family: Helvetica, Arial, sans-serif;}

/* Active class used as the "on" state across all themes */
.ui-btn-active {border: 1px solid #3F3C30; background: #565347; font-weight: bold; color: #fff; cursor: pointer; text-shadow: 0 -1px 1px #565347; text-decoration: none; background-image: -moz-linear-gradient(top,#3F3C30,#565347); background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3F3C30),color-stop(1, #565347)); -msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=' #3F3C30', EndColorStr='#565347')"; outline: none;}
.ui-btn-active a.ui-link-inherit {color: #fff;}

/* Focus state - set here for specificity */
.ui-focus {-moz-box-shadow: 0px 0px 12px #565347; -webkit-box-shadow: 0px 0px 12px #565347;	box-shadow: 0px 0px 12px #565347;}

/* Search Icon */
/*.ui-icon-searchfield.ui-body-a, .ui-icon-searchfield.ui-body-b,.ui-icon-searchfield.ui-body-c {background-image: url(images/icon-search-black.png); background-size: 16px 16px; background-repeat:no-repeat; background-position: 8px 8px;} */

/* Field Contain */
.ui-field-contain {border: none; padding: 0px 0px 0.5em 0px;}

/* General Styles */
h2 {color: #820000;}


/* jQuery Mobile 1.3 override */
.ui-header .ui-title, .ui-footer .ui-title {
	margin:0;
	padding:.6em 30% .8em;
}/*
.ui-icon-searchfield.ui-body-a,
.ui-icon-searchfield.ui-body-b,
.ui-icon-searchfield.ui-body-c {
	background-image: none;
}*/
/* Align Home button left */
.ui-header .ui-btn-right {
	left:10px;
	right:inherit;
}
/* Capitalize header h1 */
.ui-header h1 {
	text-transform:capitalize;	
}

/* add space after list dividers */
ul.copy-divider {
	margin:20px -15px 0 -15px !important;
}
/* Wordmark and overlay */
#wordmark {
	background: #F05323;
	padding: 20px 0;
	border-bottom: 4px solid #d2bd86;
}
#wordmark img {
	margin: 0 auto;
	display: block;
}

/* Home page banner  */
h2#banner {
	background:transparent url(background.jpg);
 	background-position: center top;
	background-repeat: no-repeat;
	width: auto;
	height: 420px;
	text-indent:-9999px;}

#home div.ui-content {
	margin-top: -365px;
}

/* Remove reduntant extra top padding - don't put h2's in front of ul.listview */
h2 {
	margin:0;
	font-size:20px;
}
/* Home page icons */
.ui-li-icon {
	top:0.4em !important;
}
/* Make room for icons */
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {
	padding-left:47px;
}
/* Add space after intro paragraphs */
p.intro {
	margin-bottom:30px !important;
}
/* Search box top margin */
.ui-listview-filter {
	margin-top:20px;
}
/* Remove bold from grid */
.ui-grid-b {
	font-weight:normal;	
}

/* Don't append headline */
#news h3 {
	white-space:normal;
}
/* Events */
/* Capitalize first letter in Events pages */
#eventcat h1 {
	text-transform:capitalize;	
}
/* Don't append headline in Events list page paragraphs */
#eventcat h3, #featured h3, #today h3 {
	white-space:normal;
	padding-bottom:1px; /* Make room for links bottom-border */
}
/* Format Events thumbnails to match News thumbs size for consistencey */
#eventcat .ui-li-thumb {
	top:auto;
	max-height:80px;
}

#eventcat a.ui-link-inherit {
	padding-bottom: 1.5em !important;
}

/* e theme */
.ui-btn-up-e { /* Lighter gradient: light to dark */
	background:-webkit-gradient(linear, center top, center bottom, from(rgba(157,149,115,.5)), to(rgba(157,149,115,.7)));
	border:#000 !important;
}
.ui-btn-hover-e { /* Darker gradient: light to dark */
	background:-webkit-gradient(linear, center top, center bottom, from(rgba(196,191,169,.7)), to(rgba(196,191,169,1)));
	border:red;
}
ui-btn-down-e {
	background:green;
	border:green;
}

/* Fontello */

@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello/font/mob-adw.eot");
  src: url("fontello/font/mob-adw.eot") format('embedded-opentype'), url("fontello/font/mob-adw.woff") format('woff'), url("fontello/font/mob-adw.ttf") format('truetype'), url("fontello/font/mob-adw.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10039649#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*="icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-tag:before { content: '\e820'; }
.icon-signal:before { content: '\e80f'; }
.icon-location:before { content: '\e80e'; } 
.icon-th-large:before { content: '\e806'; }
.icon-star:before { content: '\e804'; }
.icon-th-list:before { content: '\e807'; }
.icon-picture:before {content: '\E800';}
.icon-mail:before {content: '\E803';}
.icon-comment:before {content: '\E81E';}
.icon-user:before {content: '\E824';}
.icon-lock-open:before {content: '\E821';}
.icon-logout:before {content: '\E80C';}
.icon-cog:before {content: '\E80D';}


/*********************************

			Custom styles 		  
			
**********************************/

.ui-bar-a {
	text-shadow:none;
}

.error {
	color:red;
}

.field_with_errors .ui-input-text {
	border-color:red;
}			

.upload {
	border:solid 2px  #666666;
	border-radius:5px;
	height:15px;
	padding:1px;
	margin-bottom:25px;
}

.progress {
/**	border:solid 4px blue;*/
	
}

.bar {
    height: 15px;
    background: #666666;
	border-radius:5px;
}

.ui-body-c .ui-link { 
	border:none;	
}

.add-photo {
	margin-top:25px;
}

.photo-selected {
	border: solid 2px #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.actived {
	color:green;
}

.non-actived {
	color:red;
}

.photo-desactived {
	display:none;
}

.photo-featured {
	display:block;
	width:320px;
	margin:0 auto 0 0;
} 

.title-featured {
	width:480px;
	text-align:left;
	font-size:1.5em;
}

/* Flexible iFrame for Google Map */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*************************/
/*	 Album management    */
/*************************/

#gallery a img {
	margin:7px;
}	

