@font-face {
  font-family: 'adw';
  src: url('../font/adw.eot?92409693');
  src: url('../font/adw.eot?92409693#iefix') format('embedded-opentype'),
       url('../font/adw.woff?92409693') format('woff'),
       url('../font/adw.ttf?92409693') format('truetype'),
       url('../font/adw.svg?92409693#adw') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'adw';
    src: url('../font/adw.svg?92409693#adw') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "adw";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-progress-0:before { content: '\e822'; } /* '' */
.icon-progress-1:before { content: '\e823'; } /* '' */
.icon-progress-2:before { content: '\e824'; } /* '' */
.icon-progress-3:before { content: '\e825'; } /* '' */
.icon-progress-4:before { content: '\e826'; } /* '' */
.icon-progress-5:before { content: '\e827'; } /* '' */
.icon-progress-6:before { content: '\e828'; } /* '' */
.icon-progress-7:before { content: '\e829'; } /* '' */
.icon-cloud:before { content: '\e81f'; } /* '' */
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-2:before { content: '\e80d'; } /* '' */
.icon-th-list:before { content: '\e82a'; } /* '' */
.icon-cog:before { content: '\e818'; } /* '' */
.icon-mail-1:before { content: '\e80c'; } /* '' */
.icon-ok-circle:before { content: '\e813'; } /* '' */
.icon-cancel-circle:before { content: '\e814'; } /* '' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-minus-circle:before { content: '\e816'; } /* '' */
.icon-th:before { content: '\e806'; } /* '' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-gift:before { content: '\e808'; } /* '' */
.icon-barcode:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e82c'; } /* '' */
.icon-tag:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-facebook-rect:before { content: '\e81e'; } /* '' */
.icon-twitter-bird:before { content: '\e81d'; } /* '' */
.icon-googleplus-rect:before { content: '\e81a'; } /* '' */
.icon-skype:before { content: '\e821'; } /* '' */
.icon-vimeo-rect:before { content: '\e81c'; } /* '' */
.icon-tumblr-rect:before { content: '\e81b'; } /* '' */
.icon-youtube:before { content: '\e820'; } /* '' */
.icon-picture:before { content: '\e80e'; } /* '' */
.icon-video:before { content: '\e80f'; } /* '' */
.icon-attach:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e82b'; } /* '' */