@font-face {
  font-family: 'mob-adw';
  src: url('../font/mob-adw.eot?75665441');
  src: url('../font/mob-adw.eot?75665441#iefix') format('embedded-opentype'),
       url('../font/mob-adw.woff?75665441') format('woff'),
       url('../font/mob-adw.ttf?75665441') format('truetype'),
       url('../font/mob-adw.svg?75665441#mob-adw') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mob-adw';
    src: url('../font/mob-adw.svg?75665441#mob-adw') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mob-adw";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e801'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e824'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-ok-circle:before { content: '\e808'; } /* '' */
.icon-cancel-circle:before { content: '\e809'; } /* '' */
.icon-minus-circle:before { content: '\e823'; } /* '' */
.icon-attach:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-retweet:before { content: '\e81f'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-comment-alt:before { content: '\e81d'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-folder:before { content: '\e81b'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e822'; } /* '' */
.icon-arrows-cw:before { content: '\e819'; } /* '' */
.icon-signal:before { content: '\e80f'; } /* '' */
.icon-cloud:before { content: '\e817'; } /* '' */
.icon-facebook-rect:before { content: '\e818'; } /* '' */
.icon-twitter-bird:before { content: '\e81a'; } /* '' */
.icon-vimeo-rect:before { content: '\e812'; } /* '' */
.icon-tumblr-rect:before { content: '\e811'; } /* '' */
.icon-googleplus-rect:before { content: '\e810'; } /* '' */
.icon-linkedin-rect:before { content: '\e816'; } /* '' */
.icon-skype:before { content: '\e815'; } /* '' */
.icon-vkontakte-rect:before { content: '\e814'; } /* '' */
.icon-youtube:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */