<div data-role="panel" data-display="overlay" id="mypanel" style="background:#333;">
	<div >
		<a href="#my-header" data-rel="close" data-role="button">Fermer</a>
		<br>
		<br>
		<% if @photos %> 
			<% @photos.each do |photo| %>
						<%= image_tag photo.image_url(:thumb_list), :alt => "" %>
			<% end %>
		<% end %>	
	</div>
</div><!-- /panel -->